body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    max-width: 300px;
    background-color: #6a6868;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 90%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
  border-radius:5px;
  cursor: pointer;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
  cursor: pointer;
   border-radius:5px;
   text-align: center;
  align-items: center;
}
body h1{
  text-align: center;
  align-items: center;
  color:rgb(86, 68, 194);
}